mv-sorter > .moved {
	box-shadow: 0 4px 8px 0 #777;
	transition: box-shadow .2s;
}

mv-sorter:not(.moving-child):not([disabled]) > :hover {
	box-shadow: 0 0 15px 5px rgba(255, 255, 190, .75);
	outline: 1px solid #eee;
	transition: box-shadow .2s;
	z-index: 2;
}

[draggable ] { cursor: move }

mv-sorter[disabled] {
	opacity: .5;
	transition: opacity .2s;
}

mv-sorter {
	box-shadow: 0 0 .7em .3em inset rgb(0 0 0 /.2);
}
