mv-sorter > .moved {
 box-shadow: 0 .25rem .5rem 0 #777;
 transition: box-shadow .2s;
}

mv-sorter:not(.moving-child):not([disabled]) > :hover {
	box-shadow: 0 0 2rem .5rem rgba(255 255 190 / .8);
	outline: .0625rem solid rgba(0 0 0 / .5);
	transition: box-shadow .2s;
	z-index: 2;
}

[draggable] { cursor: move }

mv-sorter[disabled] {
	opacity: .5;
	transition: opacity .2s;
}

mv-sorter {
	box-shadow: 0 0 .7rem .3rem inset rgb(0 0 0 /.05);
}
